<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>register here</h2>
	
	<div th:if="${successmsg}">
	<h3 style="color:green;" th:text="${successmsg}"></h3>
	</div>	
	
	<div th:if="${errormsg}">
	<h3 style="color:red;" th:text="${errormsg}"></h3>
	</div>	
	
	<form th:action=@{/regForm th:object="${user}" method="post">
	Name:<input type="text" th:field="*{name}" /><br/><br/>
	Email Id:<input type="text" th:field="*{email}" /><br/><br/>
	Password:<input type="password" th:field="*{password}" /><br/><br/>
	Phone No:<input type="text" th:field="*{phoneno}" /><br/><br/>
	<input type="submit" value="Register"/>
	</form>
</body>
</html>